light-gray{
    fill: #F2F2F2;
}

.dark-gray{
    fill: #DADADA;
}

.light-blue{
    fill: #B9E0FB;
    color: #B9E0FB;
}

.light-green{
    fill: #E3F0B7;
    color: #E3F0B7;
}

.light-orange{
    fill: #F0E7CC;
    color: #F0E7CC;
}

.dark-blue{
    fill: #39A2F6;
    color: #39A2F6;
}

.dark-green{
    fill: #A1C434;
    color: #A1C434;
}

.dark-orange{
    fill: #F5C436;
    color: #F5C436;
}